/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Why boxsize??? */

/*bands*/
.band{
  background: url(../images/bg_ltgrey.png) repeat #f8f8f8;
}

.band_nav{
  background: url(../images/stitch_hr.png) repeat-x,
              url(../images/bg_dkgrey.png) repeat,
              url(../images/stitch_hr.png) repeat-x, /*doesn't work on bottom*/
              #343434;
}

.band_footer{
  background: url(../images/stitch_large.png) repeat-x,
              url(../images/bg_dkgrey.png) repeat,
              #343434;
  padding: 49px 0px 14px 0px;
  color  : #e0e0e0;
}

.band_bottom{
  background: url(../images/stitch_staggered.png) repeat-x,
              url(../images/bg_dkergrey.png) repeat, 
              #f8f8f8;
  /*background-color: #232323;*/
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/